<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /
  RewriteRule     ^api\^(.*)$  ./api/index.php?route=$1 [QSA,L]
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
 

 AddType application/font-sfnt            otf ttf
 AddType application/font-woff            woff
 AddType application/font-woff2           woff2
 AddType application/vnd.ms-fontobject    eot

 
</ifModule>

